/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: ;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}


html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/*beginning of my css*/
a {
    text-decoration: none;
    color: gray;
}
a:hover{
    text-decoration: underline black;
}
h2{
    font-size: 60px;
}
button {
    margin-top: 30px;
    background-color: white;
    padding: 5 10px;
    border: .5px solid black;
}

button:hover{
    
    background-color: black;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
ul{
    margin-top: 20px;
    padding-left: 20px;
}
li{
    margin-top: 20px;
}

.container{
    
    width: 880px;
    
}
.container-home {
    display:flex;
    justify-content: center;
}

.header-nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
       
}

.services-main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
   
}

.services-header-img{
    margin: 20px 0;   
}

.services-text{
    margin: 20px 0;
    padding-bottom: 30px;
    border-bottom: 2px solid gray;
}

.services-text h3{
    font-size: 25px;
    
}




.main-text1{
    border: 1px solid gray;
    margin-right: 20px;
    padding: 20px 0 20px 20px;
    background-color:#f4f6f9;
    
}
.main-text2{
   border: 1px solid gray;
   padding: 20px 0 20px 20px;
    background-color:#f4f6f9;
    
}
.main-text3{
    border: 1px solid gray;
    margin-right: 20px;
    padding: 20px 0 20px 20px;
    background-color:#f4f6f9;
    
}
.main-text4{
   border: 1px solid gray;
   padding: 20px 0 20px 20px;
    background-color:#f4f6f9;
    
}
.main-text5{
    border: 1px solid gray;
    margin-right: 20px;
    padding: 20px 0 20px 20px;
    background-color:#f4f6f9;
    
}
.main-text6{
   border: 1px solid gray;
   padding: 20px 0 20px 20px;
    background-color:#f4f6f9;
    
}


.top-2{
    display: flex;
    justify-content: space-between;
   
   
    
}
.middle-2{
    display: flex;
    margin-top: 20px;
    
    
}
.bottom-2{
    display: flex;
    margin-top: 20px;
}

.services-footer{
    display: flex;
    margin-top: 20px;
    border-top: 2px solid gray;
    padding-top: 30px;
    
}
.copyright{
    margin: 50px;
    text-align: center;
}



